<style title="local">
div#crn-button-636256 button { 
  background-color: rgb(18, 93, 152);
}

div#crn-button-636256 button span { 
  font-family: var(--p-font);
  font-size: var(--p-size);
  font-weight: bold;
}

div#crn-button-6221 button { 
  background-color: rgb(40, 38, 48);
}

#crn-button-6221 { 
  background-color: rgb(40, 38, 48);
}
</style><div class="content_all" style="overflow: scroll; overflow-x: hidden;"><div class="component-holder ng-scope" data-component="crn-button" id="crn-button-636256" style="width: 100px; height: 40px; float: right; margin-right: 10px;">
  <button class="btn k-button btn-block btn-default" ng-click="cronapi.client('js.blockly.Modal.abrirModal').names().run()" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled=""><i class=""></i> <span>Adicionar</span></button>
</div><h1 class="text-center title component-holder" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-1086296" ng-init="cronapi.client('js.blockly.Consulta.consulta').names().run()" style="margin-left: 100px;">Contatos</h1>


<div class="container_grid">

            <div class="card_contato" ng-repeat="endereco in vars.listaEndereco" ng-model="vars.listaEndereco">
                <div class="content_card">
                <div class="card_contato_header">
                    <h2>{{endereco.nome}}</h2>
                </div>
                <div class="card_contato_body">
                    <p>{{endereco.telefone}}</p>
                    <p><b>{{endereco.bairro}}</b></p>
                    <div class="bairro_footer">
                    <p style="">{{endereco.estado}}</p>
                    </div>
                    </div>
               
                
            
</div>
        </div></div>
        </div><div class="modal fade" id="modal64724"> 
  <div class="modal-dialog"> 
    <div class="modal-content" ng-model="vars.contatoPerfil"> 
      <div class="component-holder modal-header" style="position: static;"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="false">
            <h1 class="text-center title component-holder col-md-12" xattr-position="h1 text-center" xattr-type="h1" data-component="crn-text-component" id="crn-text-component-693995" style="color: #282630;">ViaCEP</h1>
          </div> 
        </div> 
      </div> 
      <div class="modal-body"> 
        <div class="list-group list-group-sm row"> 
          <div data-container="true" data-replace="false">
            <div class="component-holder ng-scope col-md-1" data-component="crn-textinputbutton" id="crn-textinputbutton-90621" style="width: 600px; height: 74px; margin-left: 30px;"> 
              <label class="form-group" for="inputButton844871401" style="font-family: var(--title-font); color: rgb(40, 38, 48); font-weight: 700; font-size: 20px; margin-bottom: 5px; margin-left: 10px;">CEP</label> 
              <div class="form-inline form-group"> 
                <div class="input-group col-md-12"> 
                  <input id="inputButton844871401" type="text" mask="99999-999" mask-placeholder="" ng-required="false" class="form-control k-textbox col-md-1" ng-model="vars.valorCEP" placeholder="Digite aqui..." style="font-family: &quot;Fira Sans&quot;, sans-serif; font-size: 19px; width: 200px; height: 35px; background-color: rgb(255, 255, 255); color: rgb(33, 33, 33); border: 1px solid rgb(227, 227, 227); border-top-left-radius: 5px; border-bottom-left-radius: 5px; margin-left: 10px;"> 
                  <button class="btn component-holder btn-success k-button col-md-11" type="submit" ng-click="" xattr-size="" xattr-fullsize="" xattr-theme="btn-succes" data-component="crn-button" id="crn-button-6221" ng-mouseup="cronapi.client('js.blockly.CEP.buscaCEP').names().run()" style="width: 50px; height: 35px;"> <i class="glyphicon glyphicon-search"></i> <span></span> </button> 
                </div> 
              </div> 
            </div><div class="component-holder ng-scope col-md-12" data-component="crn-textinput" id="crn-textinput-740963" style="color: rgb(255, 255, 255); width: 270px; height: 55px; margin-left: 40px;"><div class="form-group"><label for="input6874" style="font-family: var(--title-font);
font-size: 15px;
color: #282630;
font-weight: 700;
font-size: 20px;">Nome</label><br><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.nome" class="form-control k-textbox" id="input6874" placeholder="Digite aqui..." style="width: 200px;
  height: 35px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 16px;"></div></div><div class="component-holder ng-scope col-md-12" data-component="crn-textinput" id="crn-textinput-42341" style="color: rgb(255, 255, 255); width: 270px; height: 55px; margin-left: 40px;"><div class="form-group"><label for="input687492381" style="font-family: var(--title-font);
font-size: 15px;
color: #282630;
font-weight: 700;
font-size: 20px;">Telefone</label><br><input type="text" mask="(99) 99999-9999" mask-placeholder="" ng-required="false" ng-model="vars.telefone" class="form-control k-textbox" id="input687492381" placeholder="Digite aqui..." style="width: 200px;
  height: 35px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 16px;"></div></div><div class="component-holder ng-scope col-md-12" data-component="crn-textinput" id="crn-textinput-64201" style="color: rgb(255, 255, 255); width: 270px; height: 55px; margin-left: 40px; margin-top: 25px;"><div class="form-group"><label for="input68749238165941" style="font-family: var(--title-font);
font-size: 15px;
color: #282630;
font-weight: 700;
font-size: 20px;">Bairro</label><br><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.bairroCEP" class="form-control k-textbox" id="input68749238165941" placeholder="Digite aqui..." style="width: 200px;
  height: 35px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 16px;"></div></div><div class="component-holder ng-scope col-md-12" data-component="crn-textinput" id="crn-textinput-22771" style="color: rgb(255, 255, 255); width: 270px; height: 55px; margin-left: 40px; margin-top: 25px;"><div class="form-group"><label for="input687492381659415221" style="font-family: var(--title-font);
font-size: 15px;
color: #282630;
font-weight: 700;
font-size: 20px;">Cidade</label><br><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.cidadeCEP" class="form-control k-textbox" id="input687492381659415221" placeholder="Digite aqui..." style="width: 200px;
  height: 35px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 16px;"></div></div><div class="component-holder ng-scope col-md-12" data-component="crn-textinput" id="crn-textinput-24051" style="color: rgb(255, 255, 255); width: 270px; height: 55px; margin-left: 40px; margin-top: 25px;"><div class="form-group"><label for="input68749238165941522132081" style="font-family: var(--title-font);
font-size: 15px;
color: #282630;
font-weight: 700;
font-size: 20px;">Endereço</label><br><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.enderecoCEP" class="form-control k-textbox" id="input68749238165941522132081" placeholder="Digite aqui..." style="width: 200px;
  height: 35px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 16px;"></div></div><div class="component-holder ng-scope col-md-12" data-component="crn-textinput" id="crn-textinput-51701" style="color: rgb(255, 255, 255); width: 270px; height: 55px; margin-left: 40px; margin-top: 25px;"><div class="form-group"><label for="input6874923816594152213208185351" style="font-family: var(--title-font);
font-size: 15px;
color: #282630;
font-weight: 700;
font-size: 20px;">Estado</label><br><input type="text" mask="" mask-placeholder="" ng-required="false" ng-model="vars.estadoCEP" class="form-control k-textbox" id="input6874923816594152213208185351" placeholder="UF" style="width: 70px; height: 35px; border: 1px solid rgb(199, 199, 199); border-radius: 5px; font-family: var(--title-font); font-weight: 400; font-size: 16px;"></div></div>
            
            
            
            
            
            
          </div> 
        </div> 
      </div> 
      <div class="component-holder ng-scope col-md-1" data-component="crn-button" id="crn-button-19781" style="margin-top: 20px; width: 500px; height: 35px; margin-left: 30px;">
        <button class="btn k-button btn-block btn-default" id="botao11661" ng-click="cronapi.server('blockly.ListaContatos.salvarContato').names('cidade', 'estado', 'telefone', 'endereco', 'bairro', 'nome').run(vars.cidadeCEP, vars.estadoCEP, vars.telefone, vars.enderecoCEP, vars.bairroCEP, vars.nome)" xattr-fullsize="btn-block" xattr-theme="btn-default" xattr-disabled="" style="background-color: rgb(30, 28, 36); font-family: &quot;Arial Black&quot;, Gadget, sans-serif; font-size: 16px; width: 500px; height: 30px; border-radius: 5px 5px 0px 0px;" ng-init=""><i class=""></i> <span style="font-family: 'Fira Sans', sans-serif;
font-weight: bold;
font-size: 20px;">Salvar</span></button>
      </div>
      
      <div class="modal-footer"> 
      </div> 
    </div>
    <script type="text/javascript">
  //desabilita o botão no início
document.getElementById("botao11661").disabled = true;

//cria um event listener que escuta mudanças no input
document.getElementById("input6874").addEventListener("input", function(event){
    
  //busca conteúdo do input
    var conteudo = document.getElementById("input6874").value;
  
    //valida conteudo do campo 
    if (conteudo !== null && conteudo !== '') {
      //habilita o botão
      document.getElementById("botao11661").disabled = false;
    } else {
      //desabilita o botão se o conteúdo do campo ficar em branco
      document.getElementById("botao11661").disabled = true;
    }
});
</script>
  </div> 
</div><div class="modal fade" id="modal22182">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="component-holder modal-header" ng-model="vars.listaEndereco">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">
    <h1>{{endereco.nome}}</h1>    
</div>
       </div>
      </div>
      <div class="modal-body">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">BODY</div>
       </div>
     </div>
     <div class="modal-footer">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">FOOTER</div>
       </div>
     </div>
   </div>
 </div>
</div>