@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;700;900&family=Oxygen&display=swap');

:root{
    /* Variáveis de texto */
    --title-font:'Fira Sans', sans-serif;
    --text-align: center;
    --h1-title-weight: 900;
    --p-font: 'Oxygen', sans-serif;
    --p-size: 15px;
    --text-color: #125D98;
    /**/
    --color-primary: #1f1f1e;
    --color-secondary: #371168;
    --txt-black: #212121;
    --txt-white: #F3F3F3;
}
.bg{
    background-image: linear-gradient(180deg, #2b2a33 0, #282630 50%, #25222d 100%);
}

body { 
  background-color: #F6F6F6;
  font-family: var(--p-font);
  width: 100%;
  height: 100%;
  /* Não permite selecionar 
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;*/
}
div#main-view{
    background-color: #F6F6F6;
}
/* Menu tags */
div#main-nav-bar{
    background-color: #F6F6F6;
}
div#main-nav-bar > nav > div{
    background-color: #F6F6F6;
    color: #125D98;
}



h1{ 
  font-family: var(--title-font);
  font-size: 50px;
  font-weight: var(--h1-title-weight);
  text-align: var(--text-align);
  color: var(--text-color);
} 
h2{
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--text-color);
}
h3{
    font-family: var(--title-font);
    font-weight: bold;
    color: #1E1C24;
}
p{
    font-family: var(--p-font);
    font-size: var(--p-size);
    color: var(--text-color);
    text-align: var(--text-align);
}

#p-info { 
  padding: 10px;
  font-weight: 500;
  width: 80%;
  margin: auto;
}

.container { 
  width: 100%;
  height: 100%;
  padding: 5px;
}
.content_all{
    width: 100%;
    height: 100%;
}

/* Cartões HOME */

.row { 
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;

}
.card{
    margin: 100px auto 0;
    width: 60%;
    height: 350px;
    perspective: 1000px; /* Remova a perspectiva se não quiser o efeito 3D! Não esquecer de remover também no @media */
}
.card__inner { /* Esse conteiner posiciona frente e verso do card! */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.card__inner.is-flipped {
    transform: rotateX(180deg);
}

/*==================================================================*/
.card_face { /* Propriedades do cartão inteiro! */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}
.card_face_front { /* Frente do cartão! */
    background-image: radial-gradient(circle, rgba(89,148,195,1) 14%, rgba(18,93,152,1) 99%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_face_front h2 {
    color: #FFF;
    font-size: 28px;

}

/*==================================================================*/
.card_face_back { /* Fundo do cartão! */
    background-color: var(--txt-white);
    transform: rotateX(180deg);
}
.card_content { /* Conteúdo do fundo do cartão! */
    width: 100%;
    height: 100%;
}
.card_header {
    position: relative;
    padding: 20px 20px 30px;
    height: 100px;
    text-align: center;
}
.card_header:after { /* Gradiente do título do fundo do cartão! */
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 40% 0;
    background-image: radial-gradient(circle, rgba(89,148,195,1) 14%, rgba(18,93,152,1) 99%);
}
.card_header h2 {
    color: #FFF;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.card_body {
    padding: 10px 20px;
}
.card_body h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.card_body p {
    font-size: 12px;
    line-height: 1.5;
    color:black;
}

/* Cartões de contato */
.container_grid { 
    padding: 3em;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
  }
 .card_contato{
    width: 250px;
    background: radial-gradient(circle, rgba(89,148,195,1) 14%, rgba(42,110,163,1) 99%);
    transition: transform 1s;
    height: 230px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
 }
 .card_contato:hover{
     transform: scale(1.1);
 }
 .content_card{
     width: 100%;
     height: 100%;
 }
 .card_contato_header{
     padding: 15px;
     width: 100%;
     height: 80px;
     position: relative;
     text-align: center;
     
 }
 .card_contato_header h2{
     color: #F6F6F6;
     font-size: 5em;
 }
 .card_contato_body{
     margin-top: 20px;
     padding: 8px;
     width: 100%;
     height: 80px;
     position: relative;
     text-align: center;
     font-size: 18px;
     
    
 }
 .card_contato_body p{
     color: #F6F6F6;
 }
 
 .bairro_footer{
     font-family: var(--title-font);
     font-weight: 900;
     opacity: 0.3;
 }
 .bairro_footer p{
     font-size: 40px;
     color: #F6F6F6;
 }

